/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    width: 1300px;
    margin: 20px auto;

}

/*---------------------
   header part
------------------- */
.header-container {
    display: flex;
    background-color: rgb(15, 14, 14);
    border-radius: 30px;
    padding-top: 20px;
    padding-left: 100px;
    padding-right: 100px;
    gap: 30px;
}

.half-width {
    width: 50%;
}

.heading-title {
    color: white;
    font-size: 50px;
    font-weight: 700;
}

.heading-paragraph {
    color: white;
}

.heading-button {
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
    background-color: red;
    gap: 15px;
}

.header-image img {
    width: 100%;
}

/*---------------------
   Main part
------------------- */

/* button area */

.section-container {
    margin-top: 100px;
    display: flex;
    gap: 20px;
}

.link-button {
    background-color: rgb(15, 14, 14);
    border-radius: 10px;
    width: 400px;
    height: 250px;
}

.first-button,
.second-button,
.third-button,
a {
    text-decoration: none;
    color: black;
}

.first-button,
.second-button,
.third-button,
button {
    padding: 15px 40px;
    width: 250px;
    border-radius: 10px;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    margin: auto;
}

/* blog area */

.player-cart {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.player-details {
    border: 1px solid gray;
    /* box-shadow: 10px 5px 5px gainsboro; */
    border-radius: 10px;
}

.blog-image img {
    width: 100%;
}

.blog-details {
    padding: 10px;
}

.blog-button input {
    padding: 3px 20px;
    border-radius: 5px;
    font-weight: 500;
}

.blog-paragraph {
    font-weight: 700;
}

.blog-info {
    display: flex;
    gap: 30px;
    text-align: center;
}



















































/* /*------------------------------ 
   Responsive For Mobile
------------------------- */
@media screen and (max-width:688px) {
    .header-container {
        flex-direction: column;
        width: 1000px;
        margin: 20px auto;
        text-align: center;
    }

    .heading-button {
        text-align: center;
        margin: auto;
    }

    .half-width {
        width: 100%;
    }
}